[2021-11-23 13:45] pommedeterresautee opened #5 "document functions"
* document functions
* generate documentation (sphynx?)

[2021-11-23 13:45] pommedeterresautee opened #6 "add more benchmarks"
* more sizes
* more models

[2021-11-23 13:48] pommedeterresautee opened #7 "manage feature extraction"

[2021-11-23 15:20] pommedeterresautee opened #8 "update triton server to 21.11-py3"

[2021-11-23 16:12] pommedeterresautee opened #9 "fix model analyzer data shape"

[2021-11-24 05:50] #8 closed

[2021-11-24 05:50] #9 closed

[2021-11-24 07:07] narayanacharya6 commented on #6
Will you consider adding benchmarks for different CPU architectures?

[2021-11-24 08:37] pommedeterresautee commented on #6
right now we are targeting Nvidia GPU mainly as its the main platform we deploy transformer models.
Have you use cases where it makes sense to deploy transformers on CPU?

[2021-11-24 08:53] narayanacharya6 commented on #6
It makes sense for small teams who don't have access to GPUs or find it costly to use AWS/GCP GPU Compute options. From a workflow standpoint I don't see anything that should stop me from running it on CPUs - I can give it a go myself.

[2021-11-24 09:02] pommedeterresautee commented on #6
Ok I understand.
To get best performances, you need to choose wisely your kind of AWS instance (best results are obtained with instruction like VNNI and AVX-512), and if you leverage ONNX Runtime, check the OpenVino backend which should provide very good results. Triton also support OpenVino out of the box.

[2021-11-24 18:15] hussius opened #12 "Installation instructions"
The line

`pip3 install .[GPU] -f https://download.pytorch.org/whl/cu113/torch_stable.html`

did not work for me as written, but it did with quotes:

`pip3 install ".[GPU]" -f https://download.pytorch.org/whl/cu113/torch_stable.html`

Also, the instructions say

`make docker_build`

but the Makefile does not contain such a rule, only `build_docker` so the command should probably be

`make build_do

[2021-11-24 21:10] pommedeterresautee commented on #12
thanks a lot @hussius , I will fix the README.

[2021-11-25 19:02] hussius opened #14 "query_body.bin contents"
With an instance of the triton server up, running the test cURL command from the README file

[code]
gives me the error `{"error":"unexpected inference output 'score' for model 'transformer_onnx_inference'"}`. Looking at the [triton_client.py](https://github.com/ELS-RD/transformer-deploy/blob/main/demo/triton_client.py) script, it seems it might be the case that `score` should be replaced by `mode

[2021-11-25 19:39] pommedeterresautee commented on #14
Thanks for the report, it's an error on my side. I was using `score` as the output name but it didn't match all tasks, so I changed it to output.
To fix the issue, just edit the `json` (the bin file is json concatenated to the string with some special characters to separate them):

[code]
`"name":"score"` -> `"name":"output"`

Let me know if it works for you?

[2021-11-26 09:12] hussius commented on #14
It doesn't, but it might be some other issue on my side. I can use the `triton_client.py` instead anyway, thanks!

[2021-11-28 22:29] #12 closed

[2021-11-28 22:29] #14 closed

[2021-12-02 10:01] leon2milan opened #16 "How to run convert_model in docker instead of local env?"
how to run `convert_model -m roberta-large-mnli --backend tensorrt onnx pytorch --seq-len 16 128 128 --batch-size 1 32 32` in built docker env?

[2021-12-02 17:39] sam-writer opened #17 "Support private HuggingFace Hub models?"
I think in order to support private HF Hub models, invocations of `.from_pretrained`, e.g. [here](https://github.com/ELS-RD/transformer-deploy/blob/main/src/transformer_deploy/convert.py#L99), would need to have a parameter, `use_auth_token`. This parameter defaults to `None`. Setting it to `True` uses a local cached auth token (from calling `$ transformers-cli login`). It can also be set to a str

[2021-12-02 17:53] sam-writer opened #18 "Support other tasks/architectures?"
First off: thank you! This is a great project, I'm really grateful you released it publically.

From what I can tell, this supports encoder-only architectures, and the Sequence Classification task ([ex](https://github.com/ELS-RD/transformer-deploy/blob/main/src/transformer_deploy/convert.py#L99)). Am I correct? If so, are there plans to support, or interest in supporting, other architectures (enco

[2021-12-03 10:49] vblagoje commented on #18
I'd love to know this as well. Also, how would one support (or just speed up) GenerationMixin utility methods: generate(), greedy_search(), sample(), beam_search() etc?

[2021-12-05 09:28] vblagoje commented on #18
@sam-writer I found NVidia blog [post](https://developer.nvidia.com/blog/optimizing-t5-and-gpt-2-for-real-time-inference-with-tensorrt/) and their Github [repo](https://github.com/NVIDIA/TensorRT/tree/release/8.2/demo/HuggingFace) with TensorRT counterparts for T5, and GPT-2 useful. It looks like one would need to create TensorRT equivalents for other model architectures. LUK if you find any other

[2021-12-06 10:20] pommedeterresautee commented on #18
Right now it only supports end to end classification task. There is no real reason for this limitation, it should be easy to extend to other tasks like token classification (NER, etc.), multi choice questions, question answering, etc. What task do you need to have support with? (for encoder only models)

Regarding the encoder only support, it's a choice, right now our priority is in a better direc

[2021-12-06 10:20] pommedeterresautee commented on #17
good idea, please, do it.

[2021-12-06 10:24] pommedeterresautee commented on #16
Right now, pre-built docker images from Nvidia are based on TRT 8.0.3, unfortunately it's a bit buggy, the code will work but the accuracy won't be good with mixed precision on some models using some patterns. We fixed those issues but only using TRT 8.2. New Nvidia docker image with updated TRT should be realeased in the coming weeks. When they are ready, I will update the documentation to only u

[2021-12-07 22:48] sam-writer commented on #18
I agree! Token classification is top of my list for encoder-only model tasks

About the rest: are you saying that the top priority now is to get Triton using the TRT, not ORT, backend?

I am imagining using `transformer-deply` to take ~any popular HF model and give me a triton server to communicate with it, even if it can't do anything with TRT. Is this the goal?

[2021-12-08 00:30] sam-writer opened #21 "TRT error on fresh install"
Running the example command on a fresh install, I get:

[code]

<details>
<summary>Full error</summary>

[code]

</details>

If you have any ideas, I'd appreciate it! Thank you.

EDIT:

<details>
<summary>nvidia-smi</summary>

[code]

</details>

<details>
<summary>pip freeze output</summary>

[code]

</details>

[2021-12-08 13:25] pommedeterresautee commented on #21
Do you know if you have TensorRT 8.2 installed on your machine? (released a few week ago)
I am waiting the Nvidia docker images with updated TensorRT to update the doc and avoid those kind of reproducibility issue...
Moreover, can you try the `quantization` branch?

[2021-12-08 15:31] pommedeterresautee commented on #18
Both backends (ORT and TRT) are important. ORT works out of the box, so hopefully there is nothing to do for now (may be checking that nothing broke with the recent v.1.10).
TRT requires some work, but deliver significant perf boost in both quantization and mixed precision, that is why it gets the focus right now.

The goal is indeed to take any transformer model (from HF and probably from FAIR),

[2021-12-08 16:10] #17 closed

[2021-12-08 23:37] sam-writer commented on #21
Thank you @pommedeterresautee ! I had to upgrade CUDA

[2021-12-08 23:37] #21 closed

[2021-12-11 03:24] vishalsrao opened #24 "'assert num_heads > 0' error with DistilBert"
I get the following error when I try to optimize distilbert:
[code]

While trying to resolve the issue, I observed that it did not occur when optimizer from onnxruntime-tools was used with opt_level 99 (instead of the one in onnxruntime.transformers). But the code then threw Exceptions due to some skip layer normalization issues.

[2021-12-11 17:01] pommedeterresautee commented on #24
Are you using onnx runtime 1.10 ?

[2021-12-11 19:01] vishalsrao commented on #24
I am using 1.9.0

[2021-12-11 20:10] pommedeterresautee commented on #24
In the issue linked above I put a piece of code raising this issue on my machine for ort 1.10 but not 1.9.0. Can you run it on your machine? (Takes few minutes to exec)

[2021-12-12 13:29] pommedeterresautee commented on #24
@vishalsrao I have been able to reproduce the crash on my machine with ORT 1.9.0.
A workaround is to set the number of heads to 12 (it will work on ORT 1.9.0).

[code]

As it's related to the bug above (in version 1.10.0), I will focus on that one (version 1.10.0 brings some very interesting features for this project)

[2021-12-12 16:32] vishalsrao commented on #24
Thank you, @pommedeterresautee .  It is working now!

[2021-12-12 16:32] #24 closed

[2021-12-14 00:41] vishalsrao opened #25 "Installing pytorch-quantization"
I get the following error when pytorch-quantization is included in requirements.txt:
[code]

I am testing this on pytorch/pytorch:1.10.0-cuda11.3-cudnn8-devel Docker container.

[2021-12-14 07:30] vishalsrao opened #26 "nvidia-pyindex installation"
Installation of packages which depend on nvidia-pyindex fail if nvidia-pyindex is not installed before installing transformer_deploy.
My initial guess was that this occurs because setuptools does not install packages in the order specified in the extras_require argument. I tried adding the package to setup_requires & install_requires arguments of setuptools.set in setup.py, but it did not help.

[2021-12-14 20:57] pommedeterresautee commented on #26
I think the best solution is to separate Nvidia dependencies from ONNX Runtime ones and for those needing TensorRT, the documentation would mention the possibility to just use Docker image.
Are you planing to use TensorRT deployment?

[2021-12-15 14:27] pommedeterresautee commented on #26
Does `pip3 install ".[GPU]" -f https://download.pytorch.org/whl/cu113/torch_stable.html --extra-index-url https://pypi.ngc.nvidia.com` works out of the box for you?

[2021-12-20 03:53] vishalsrao commented on #26
Thanks, @pommedeterresautee. I am not experiencing the issue with the latest version of the code.

[2021-12-20 03:53] #26 closed

[2021-12-24 07:51] yq20212102 commented on #25
hi  have you solved the problem.
I met the same problem
I use python 3.9  and cuda 11.3 pytorch 1.10
on windows

[2021-12-24 08:46] pommedeterresautee commented on #25
I have found that depending of the OS it sometimes don't install from PiPy but is ok from repo directly.
In a single command line it looks like:
[code]

[2021-12-31 10:52] C00reNUT opened #31 "GPT-2 pipeline?"
Hello,
thank you for this wonderful implementation.

Do you have any plans implementing notebook with gpt-2 support?
It seems that there would be huge speed benefit, especially with smaller sequence lengths and higher batches.

[2022-01-04 00:55] jx669 opened #36 ""faster inference compared to vanilla Pytorch"-- Pytorch CPU or GPU?"
`Then, if you spend some time, you can build something over ONNX Runtime and Triton inference server. You will usually get from 2X to 4X faster inference compared to vanilla Pytorch. It's cool!`

When you say "faster compared to vanilla Pytorch", are you saying faster than vanilla Pytorch in CPU or GPU?

[2022-01-04 07:09] pommedeterresautee commented on #36
Both.
First because we replace fastapi by something which is really fast we decrease by large margin the server overheard.
Then for both CPU and GPU deployment we heavily optimize the model, also decreasing significantly the latency.

[2022-01-04 08:51] firdota opened #37 "do you have any plan to support wav2vec?"
hello, do you have any plan to support wav2vec?

[2022-01-04 14:27] pommedeterresautee commented on #16
Documentation is now updated, and the docker image is online.
Don't hesitate to re open the issue if you have other related question.

[2022-01-04 14:27] #16 closed

[2022-01-04 18:37] pommedeterresautee commented on #37
Hi, not on the short term, what feature are you interested in? Deploy, GPU quantization, something else?

[2022-01-04 18:39] pommedeterresautee commented on #31
Yes, it's planned to add support for GPT-2, T5, and Bart. But work has not yet started. Would you mind to share with me what feature you are mainly interested into?

[2022-01-04 19:11] C00reNUT commented on #31
Great! Nice to hear that. There has been lots of simplification with huggingface and some other transformer libraries, but there is still not a simple library for text generation using recent optimization techniques. Something that would be as simple as [https://github.com/minimaxir/aitextgen](https://github.com/minimaxir/aitextgen).

Although I have recently seen [https://developer.nvidia.com/blo

[2022-01-04 23:57] pommedeterresautee commented on #31
The version from Nvidia has been written for reusability and readability, we will probably start there. It covers both T5 and GPT-2.
https://github.com/NVIDIA/TensorRT/tree/main/demo/HuggingFace

[2022-01-05 17:24] C00reNUT commented on #31
Great I will give it a try. Thank you.

[2022-01-05 17:24] #31 closed

[2022-01-05 22:36] JonathanLehner opened #39 "Docker image timeout"
Error response from daemon: Get https://ghcr.io/v2/: proxyconnect tcp: dial tcp: lookup http.docker.internal on 192.168.65.5:53: read udp 192.168.65.4:63771->192.168.65.5:53: i/o timeout

I cannot download the docker image!

[2022-01-05 23:21] JonathanLehner opened #40 "GPT-J support"
How can we use GPT-J for inference?

[2022-01-06 10:04] pommedeterresautee commented on #39
Hi Jonathan, what command do you use?

[2022-01-10 00:12] firdota commented on #37
deploy. I want to speed up the inference. Thanks for your reply and look forward to the new feature!

[2022-01-10 11:17] pommedeterresautee commented on #5
done in #35

[2022-01-10 11:17] #5 closed

[2022-01-10 22:42] #7 closed

[2022-01-12 12:10] pommedeterresautee commented on #40
Work to support of GPT-2/T5 architectures just started. GPT-J follows GPT-2 architecture so hopefully it should be ready in the next few weeks.

[2022-01-12 12:14] pommedeterresautee commented on #18
FYI we started to work on GPT-2 and T5 support.
We will take inspiration from Nvidia TRT repo, however, their code is more benchmark oriented than anything else.
It requires some rewriting before being integrated here.

[2022-01-12 12:15] pommedeterresautee commented on #25
closing as documentation now contain install instructions, etc.

[2022-01-12 12:15] #25 closed

[2022-01-12 19:48] sam-writer commented on #18
Yes, I have played with that code. For me the hard part was Triton setup for the stateful backend. Really excited to see this!!

[2022-01-14 11:33] v1nc3nt27 opened #43 "Calibration failure occurred with no scaling factors detected"
Hey,

first of all, thanks a lot for your great work. This repo was already a great help to me.

With your quantization update for INT8, however, I ran into a problem. As soon as I activate `--quantization`, I get the following error:

[code]
The problem in the traceback is then just that the `trt_engine` will be `None`. I don't get any other warnings or errors, so I'm a bit at a loss. I've tried

[2022-01-20 14:57] ragsanil opened #45 "Support for T5 models"
When will we getting support for T5 models?

[2022-01-24 13:55] DeDeckerThomas commented on #43
Hey :)

I have the same problem. The INT-8 quantization does work in the end-to-end notebook in the demo directory, but not with the command in the docker container.

Also, when I deploy it on NVIDIA Triton, it also seems to be slower than in the notebook. (I am using a destilbert model)

I have no idea what the issue could be, but I hope there is a solution.

[2022-01-24 16:45] chintanckg opened #46 "Installing transformers inside nvidia docker container"
Trying to run triton inference server using

`docker run --rm -p8005:8005 -p8003:8003 -p8004:8004 -v/home/test/triton-serve/server/docs/examples/model_repository/triton_models:/models nvcr.io/nvidia/tritonserver:21.12-py3 tritonserver --model-repository=/models`

Gives below error:
`UNAVAILABLE: Internal: ModuleNotFoundError: No module named 'transformers'`

[2022-01-24 16:48] chintanckg opened #47 "error in triton config files"
After running convery.py on a sentence-transformer model, triton config along with onnx model gets generated inside triton_models directory.

However, while serving the model using same config, below error is observed.

`UNAVAILABLE: Invalid argument: model 'transformer_onnx_model', tensor 'output': the model expects 2 dimensions (shape [-1,-1]) but the model configuration specifies 2`

[2022-01-29 20:51] pommedeterresautee commented on #46
Hi, you need to have transformers installed on your docker image.
You can do it at run time, but we advise to build your own image with transformers pre-installed on it.
Check https://els-rd.github.io/transformer-deploy/run/

![image](https://user-images.githubusercontent.com/1029874/151677152-80ae1691-147b-4d13-bae1-b385f745ca9e.png)

[2022-01-29 20:52] pommedeterresautee commented on #47
Can you please provide me with the command line you used?

[2022-01-29 20:56] pommedeterresautee commented on #43
@v1nc3nt27 it seems the model has not been calibrated. It's a process to run before launching the conversion.
You can check here for more info on what it is and how to do it (it's easy): https://els-rd.github.io/transformer-deploy/quantization_intro/

@DeDeckerThomas regarding Triton, it's strange, we have not seen such behavior. Which version of TensorRT are you using for the compilation part?
Wh

[2022-01-30 11:12] DeDeckerThomas commented on #43
I am using TensorRT 8.2.2.1.
First I used the end-to-end quantization notebook with a destilbert model and I got faster inference for a batch of 32 with TensorRT. (I compared this with ONNX (FP16))

TensorRT (INT8):
[TensorRT (INT-8)] mean=10.92ms, sd=0.33ms, min=10.69ms, max=12.60ms, median=10.82ms, 95p=11.69ms, 99p=12.49ms

ONNX (FP16):
[ONNX Runtime GPU (FP16)] mean=18.85ms, sd=1.79ms, min=16.0

[2022-01-30 11:22] pommedeterresautee commented on #43
One thing to keep in mind is that when you build your TensorRT engine it will optimize it for some parameters (called opt in TensorRT input shape) even if it works for other input tensor shapes (min and max in param).
My understanding is that in your case the engine building parameters are different from the benchmark setup (batch size 1 and 32). This may produce surprising results.

I would there

[2022-01-30 11:44] DeDeckerThomas commented on #43
Oh okay, I didn't know that. Interesting 🤔
Thank you for your answer! I will give it a try and see what the results are :)

[2022-02-08 23:19] pommedeterresautee commented on #36
no activity, closing

[2022-02-08 23:19] #36 closed

[2022-02-08 23:19] pommedeterresautee commented on #39
no answer since 1 month, closing

[2022-02-08 23:19] #39 closed

[2022-02-14 14:20] kobzaond opened #49 "GPT2 has slow inference"
Hello,

your wrapper for gpt2 does not support 'past_key_values' as huggingface transformers initially do. I've seen your measurements in the gpt2 demo, and at least for pytorch they are not really correct, instead of just simply calling the model with always the same input, you should call the generate method..

I tried to run gpt2 in pytorch both on cpu and gpu (GPU: TESLA T4) with your sample t

[2022-02-15 02:28] xiaolaimeme opened #50 "How does the local model generate configuration files"
Such as title，like config.json 、tokenizer.json and tokenizer_config.json

[2022-02-15 08:47] KyloRen1 opened #51 "Inference on CPU"
I have converted a model as in the tutorial. And now I have a folder `triton_models` with
`model-original.onnx`
`model.plan`
`transformer_onnx_model`
`transformer_tensorrt_inference`
`transformer_tensorrt_tokenize`
`model.onnx`
`transformer_onnx_inference`
`transformer_onnx_tokenize`
`transformer_tensorrt_model`

When I run `docker run -it --rm  -p8000:8000 -p8001:8001 -p8002:8002 --shm-size 256m

[2022-02-15 10:15] pommedeterresautee commented on #50
It needs to be provided through one of these ways:
- --model arg -> tokenizer stuff + model stuff
- --tokenizer arg -> tokenizer stuff only

It can be a local path or HF hub.

After that the files are copied to their final destination to be used on Triton inference server. Does it answer your question?

[2022-02-15 11:53] kobzaond opened #52 "Support for gpt2 quantization"
I tried to quantize (add QDQ layers) the gpt2 model:

[code]

but no QDQ layers were inserted - I assume that you don't support GPT2 yet. Do you plan add it?

[2022-02-15 17:23] pommedeterresautee commented on #51
The error message indicates that your GPU is not recognized.
[code]
The subject says that you plan to perform inference on GPU.
However in the listed files there is `model.plan` which is TensorRT engine, a GPU specific inference engine.
Moreover, the configuration files have been generated for a GPU:
[code]
So I suppose the models have been generated on GPU machine and it's reused on a CPU only on

[2022-02-15 20:47] pommedeterresautee commented on #49
Both TensorRT / ONNX Runtime kernel fusion patterns are hard coded.
ONNX Runtime ones are specific to each model (you can see them in fusion_* in https://github.com/microsoft/onnxruntime/tree/master/onnxruntime/python/tools/transformers/), and for TensorRT it's a bit hard to know what it does because its core component is closed source.

I have not tried to optimize model with cache because self-a

[2022-02-16 00:53] xiaolaimeme commented on #50
This problem has been solved，But thank you for your reply

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "ELS-RD/transformer-deploy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月15日(星期二) 晚上6:15
**

[2022-02-16 14:38] KyloRen1 commented on #51
@pommedeterresautee Hi, thanks for your answer. I have tried to run on a CPU device, but only .onnx model was created, without any config file

[2022-02-16 14:40] pommedeterresautee commented on #51
Can you provide me with the command line you use to generate the CPU model / config ? (so I can reproduce it on my side)

[2022-02-18 12:19] kobzaond commented on #52
Thank you for your response. I tried to make QDQGPT2.py with the same pattern as QDQBert.py or QDQElectra.py... and added the new patch module into the list in https://github.com/ELS-RD/transformer-deploy/blob/main/src/transformer_deploy/QDQModels/patch.py#L44.

But actually I was not able to fully understand how the quantization is working - I got that you insert the QDQ layers but got lost in th

[2022-02-18 13:20] kobzaond commented on #52
Yes, I've set both fp16 and int8 flags
[code]

basically I used analogical code to your quantization demo, only the model changed

[2022-02-23 06:26] christianjoun opened #54 "How to convert_model -m "./mycustomodel""
I have a custom model

`
class BERTClass(torch.nn.Module):
    def __init__(self, num_labels=4):
        super(BERTClass, self).__init__()
        self.l1 = BertModel.from_pretrained('bert-base-multilingual-uncased')
        self.l2 = torch.mean
        self.l3 = torch.nn.Linear(768, num_labels)

    def forward(self, ids, masks, token_type_ids):
        last_hidden_state, _ = self.l1(ids, attenti

[2022-02-23 14:23] kobzaond commented on #49
I'm reading your update in the gpt2 demo notebook and to me it is very interesting, that for gpt2 (pytorch), you get
[code]

while I get

[code]

The surprise is, that I got a bit faster inference with cache than you without cache - I'd thought, that if you have faster GPU you should have lower numbers here. Can it be because of memory bandwidth? Would you mind to share your GPU model?

[2022-02-23 14:37] v1nc3nt27 opened #55 "Bucketing with ONNX vs TensorRT"
I noticed something unexpected when comparing two scenarios for a model converted via ONNX and TensorRT (distilroberta with classification head):

1. Scenario: I use a dataset with varying sentence lengths (~20-60 tokens) and run it randomly sampled through both models
2. Scenario: I use the same dataset but sort the sentences by sentence length (decreasing) before running it through both models

[2022-02-24 05:12] Jaeker0512 opened #56 "quantized model inference slow with Triton server than inference directly in python code(notebook)"
I follow the guide **_quantization_end_to_end.ipynb_** to quantize my custom classification model base on **Roberta-base-12layers** and finally get the following Latency measures from different backend, the results looks good:
**batch size = 1
seq_length = 128
device = GPU Tesla T4**

but after I deployed the **ONNX FP16 model** and **TesorRT model (both FP16 and INT-8 )** with Triton Server and t

[2022-03-03 06:36] pommedeterresautee commented on #52
have you checked that your local tensorrt version is the same than the docker image you use?

[2022-03-03 06:40] pommedeterresautee commented on #54
I would perform the conversion outside the command line.
There are some assumptions in the way the command line works which won't work in your case.
What you really need is to convert it to ONNX then to TensorRT (if you want TRT optimized version).

Then I would use a random supported model and convert it with the command line to generate all configurations, etc. for Triton and just replace the mo

[2022-03-03 06:41] pommedeterresautee commented on #55
Is there some batching applied?

[2022-03-03 06:43] pommedeterresautee commented on #56
No there is no such parameter to enable int 8 on Triton.
What is threads = 20 ? (20 parallel calls?)

[2022-03-03 06:45] pommedeterresautee commented on #49
It's a 3090, all details are at the beginning of the notebook.
https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/gpt2.ipynb

<img width="836" alt="image" src="https://user-images.githubusercontent.com/1029874/156511254-c3fbe76b-99b0-4fbc-a50e-9477a0fc4477.png">

[2022-03-03 07:30] v1nc3nt27 commented on #55
Oh, I completely forgot to mention that. Yes, I use a batch size of 64. This behavior only applies if batching is used.

[2022-03-03 08:42] pommedeterresautee commented on #55
how each batch is built? is it made of seq of the exact same len ?

[2022-03-03 09:02] v1nc3nt27 commented on #55
The samples are just ordered by character length and then batched, so they still may vary within a batch (but much less than before). The speed up just comes from the fact less batches are padded to the `model_max_length` in that case.

I replaced

https://github.com/ELS-RD/transformer-deploy/blob/1f2d2c1d8d0239fca7679f8c550a954ea1445cfa/src/transformer_deploy/utils/python_tokenizer.py#L58

with

[2022-03-03 09:52] pommedeterresautee commented on #55
can you provide me with some reproducible code so I test on my side?

[2022-03-07 13:50] salamer commented on #37
any progress?

[2022-03-07 15:09] pommedeterresautee commented on #37
Not yet, we are working on seq2seq right now :-)

[2022-03-07 15:27] salamer commented on #37
or any advice? I think I can contribute, but at the moment I don't have the relevant direction for this.

and an other question, would you consider provide some C++ deployment toolkit in the future? because if the performance really matters, C++ or Rust would be a natural choice.

[2022-03-07 15:58] pommedeterresautee commented on #37
I don't know if C++ matters that much if you deploy on Triton (C++).
Triton itself is in charge of the inference, the Python code is just here to call the tokenizer (Rust) and request the inference engine.
The only exception is generative model, because the greedy / beam search part is a bit slow (Pytorch code mainly, but AFAIK you can do better in pure C++). However, search part is tiny compared

[2022-03-07 22:13] elyast opened #57 "Transforming https://huggingface.co/csarron/roberta-base-squad-v1"
Hi,

I wanted double check how we can transform question answering models like the one mentioned above. (It is question answering model - transformers.AutoModelForQuestionAnswering) For example when using vanilla python for your input:
[code]
Q/A pipeline is answering with score, start and end of the sequence and chunk of text (based on start and end), e.g.
[code]

after I converted this model as

[2022-03-08 15:56] v1nc3nt27 commented on #55
Hey @pommedeterresautee, sorry for the long wait - I was on a holiday trip.

I based my script on your demo scripts but I cannot disclose the model and/or dataset. I hope you can make use of it anyway. I attached the script to call the inference assemble hosted in triton (transformer_onnx_inference or transformer_trt_inference) and the slightly modified model.py for the tokenize endpoint in triton

[2022-03-09 08:35] pommedeterresautee commented on #57
QA model requires a post processing to transform model output in span, etc.
I would advise to adapt the Python code run by Triton like we did for generative model to add the post processing.
-> https://github.com/ELS-RD/transformer-deploy/blob/main/src/transformer_deploy/utils/generative_model.py

[2022-03-09 10:22] kobzaond commented on #52
I am not using any docker image, all is installed either in python virtual environment, conda environment or locally, so there shouldn't be any version missmatch

[2022-03-14 09:27] oborchers opened #59 "Export of Large Models Fails: onnx2trt_utils.cpp:1571"
This issue is a direct consequence of: https://github.com/onnx/onnx-tensorrt/issues/818

[code]

Steps to reproduce:

Works:
[code]

Doesn't work:
[code]

[2022-03-14 13:12] oborchers commented on #40
@pommedeterresautee: I caution that this is probably more difficult as expected due to (currently trying to figure that out):
https://github.com/onnx/onnx-tensorrt/issues/818 and maybe even also https://forums.developer.nvidia.com/t/how-to-convert-a-large-pytorch-model-to-trt-model/182782/4

[2022-03-18 13:29] Ki6an opened #60 "Out of memeory error for batch size more than 1 for T5 models."
hey, first of all, thanks for creating this amazing library!

I'm following your T5 implementation with trt,
https://github.com/ELS-RD/transformer-deploy/blob/b52850dce004212225edcaa7b80fccc311398038/t5.py#L222

And, I'm trying to convert the onnx version of the T5 model to tensorrt engine using your `build_engine` method,
https://github.com/ELS-RD/transformer-deploy/blob/1f2d2c1d8d0239fca7679f8c5

[2022-03-21 17:39] victox5 commented on #60
Thank you for the progress done on T5! :)

I have been following your t5 file, and I found some points that can hopefully help. (I do not want to bother with another thread as t5 is not merged yet).

- When using `t5-large` the tensors deviate.

  https://github.com/ELS-RD/transformer-deploy/blob/b52850dce004212225edcaa7b80fccc311398038/t5.py#L62
  Assertions start to fail.

  The assertions work

[2022-03-22 20:20] pommedeterresautee commented on #60
@Ki6an hi, I am using between 10 and 20Gb of RAM (working on a 3090 RTX). I never experienced issue with batch > 1.
What is the flavor of the model? (size)
Have you tried to run script from Docker. It now includes Jupyter. It will provide all Nvidia dependencies up to date.

@victox5 I am working on it. Basically I try to make a tool to set automatically the right precision on each node without fo

[2022-03-22 20:25] pommedeterresautee commented on #59
DId it export an ONNX file? or multiple ones?

[2022-03-24 07:34] 13604099691 opened #61 "Feature extraction/dense embeddings Query inference error"
![6138D2~1](https://user-images.githubusercontent.com/67626707/159865474-51a7fe12-88d3-458b-b482-f27f536b4167.PNG)
![021936~1](https://user-images.githubusercontent.com/67626707/159865492-ab21a2f3-866e-4ac2-91eb-9956adaaa3b6.PNG)

[2022-03-25 06:46] 13604099691 commented on #61
@sam-writer Can you answer this question？

[2022-03-28 12:48] pommedeterresautee commented on #61
Hi, can you provide your command line to gen the triton config and onnx graph?

[2022-03-30 10:32] oborchers commented on #59
@pommedeterresautee: This is what I get:

[code]

[2022-03-31 10:32] 13604099691 commented on #61
![lQLPDhtJvzzPoQvNAk_NB36wLR9CCN4H1l8CSYAUT8ATAA_1918_591 png_720x720q90g](https://user-images.githubusercontent.com/67626707/161035492-ada82608-4ad4-49b6-bf25-b71eb3268681.jpg)

[2022-03-31 10:34] 13604099691 commented on #61
is this one?

[2022-03-31 10:36] 13604099691 commented on #61
![lQLPDhtJv-rbS2TNAyzNB4Cw1AWpSIz-7DYCSYEwWcB0AA_1920_812 png_720x720q90g](https://user-images.githubusercontent.com/67626707/161036272-27b917eb-d003-476d-9673-57a552e8918c.jpg)

[2022-04-04 16:25] kamalkraj opened #63 "convert to onnx model takes more time on CPU"
converting model to onnx with device as `cpu` takes around 8 minutes
[code]

The same model is converted to onnx using GPU in less than 2 minutes
[code]

using huggingface default onnx converter only takes ~20s
[code]

@pommedeterresautee

[2022-04-05 08:04] pommedeterresautee commented on #63
Hi, the conversion itself takes a few seconds.
At the end of the process there is a benchmark to show latencies on your terminal.
This is the part which takes time, and on CPU it will take more time than GPU.
Hugging Face just does the conversion.

If you don't care use something like `--seq-len 2 2 2`, the inference will be very fast.

[2022-04-05 10:28] kamalkraj commented on #63
Thanks @pommedeterresautee

[2022-04-05 10:28] #63 closed

[2022-04-14 01:55] vishalsrao opened #64 "Incorrect demo url in documentation"
The link to demo page (https://els-rd.github.io/transformer-deploy/run/demo/infinity) in the documentation page https://els-rd.github.io/transformer-deploy/run/ is not working. I think https://github.com/ELS-RD/transformer-deploy/tree/main/demo/infinity may be the right link.

[2022-04-18 12:23] rupeshpoojary97 opened #65 "How to run inference for T5 tensorrt model deployed on nvidia triton?"
I have deployed T5 tensorrt model on nvidia triton server and below is the config.pbtxt file, but facing problem while inferencing the model using triton client.

As per the config.pbtxt file there should be 4 inputs to the tensorrt model along with the decoder ids. But how can we send decoder as input to the model I think decoder is to be generated from models output.

Is there any way to inferen

[2022-04-20 17:49] oborchers commented on #59
I have found the issue and will create a PR

[2022-04-21 06:12] v1nc3nt27 commented on #56
I noticed in the post that the speedup between TensorRT (FP16) and TensorRT (INT-8) is not as much as you @pommedeterresautee were observing, so I also finally tested the QAT with quantization_end_to_end.ipynb.

I only changed the model to distilroberta-base, batch size to 64 and sequence length to 60 (saving some GPU memory) and the difference between TensorRT (INT-8) and TensorRT (FP16) is much

[2022-04-21 07:58] #65 closed

[2022-04-21 08:37] pommedeterresautee commented on #59
Thanks a lot @oborchers

[2022-04-21 12:55] ayoub-louati opened #66 "[ML] En tant que Dave, je veux documenter sur le fonctionnement des GPUs afin de pouvoir travailler sur l'accélération de l'inférence pour les modèles génératifs"

[2022-04-25 09:27] ayoub-louati opened #69 "[ML] Test t5-small model in mixed precision FP16"
done by @pommedeterresautee

[2022-05-02 21:10] pommedeterresautee commented on #64
Thank you @vishalsrao , I have included the fix in a coming PR

[2022-05-13 14:26] #66 closed

[2022-05-16 11:21] ayoub-louati opened #72 "Generate data offline to optimize memory usage"

[2022-05-17 08:37] ayoub-louati opened #73 "Accelerate inference with TensorRT"

[2022-05-20 12:38] #69 closed

[2022-05-20 12:38] #72 closed

[2022-05-23 18:18] rohitmishra94 opened #74 "got error in optimize onnx when ran gpt2 file from demo/generative-model"
getting error when ran this code part
logging.basicConfig()
logging.getLogger().setLevel(logging.INFO)
num_attention_heads, hidden_size = get_model_size(path=model_name)
optimize_onnx(
    onnx_path="test-gpt2.onnx",
    onnx_optim_model_path="test-gpt2-opt.onnx",
    fp16=True,
    use_cuda=True,
    num_attention_heads=num_attention_heads,
    hidden_size=hidden_size,
    architecture='gpt2'
)
-

[2022-05-24 05:53] #18 closed

[2022-05-24 05:53] #45 closed

[2022-05-24 05:53] #64 closed

[2022-05-24 08:18] pommedeterresautee commented on #74
you got that error just by running the notebook?

[2022-05-24 11:12] rohitmishra94 commented on #74
the error resolved , by reinstalling, but got new error in tensor rt engine build

from pathlib import Path

trt_logger: Logger = trt.Logger(trt.Logger.ERROR)
runtime: Runtime = trt.Runtime(trt_logger)
trt_model_name = "test-gpt2.plan"

# create only of does not exist because it's slow to run...
if not Path(trt_model_name).exists():
    engine: ICudaEngine = build_engine(
        runtime=runtime,

[2022-05-24 12:48] pommedeterresautee commented on #74
I just rerun code and have not this issue. Can you try with the Docker file to check if this is caused to your local setup?

[2022-05-24 12:49] rohitmishra94 commented on #74
ok, I'll try docker file

[2022-05-24 12:56] pommedeterresautee commented on #74
btw, we just released support for T5 in case you are interested (notebook in same folder than GPT2)

[2022-05-24 12:59] pommedeterresautee commented on #60
@Ki6an the T5 support is now official, you can check the notebook. It fixes the issue of double weights.
Experiments are done with batch 4 and up to 1000 tokens on T5-large.
We have also a trt script in the same folder, we keep it next to the notebook to keep code simple.

[2022-05-24 13:01] pommedeterresautee commented on #45
Done!
https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/t5.ipynb

[2022-05-24 14:40] pommedeterresautee commented on #74
Made more tests, TensorRT 8.4 (preview) is broken on GPT-2 but 8.2.5.1 has a fix.
It's not the error you get (TRT is used after ORT optimization) but is something to have in mind.

I have pushed a re generated notebook, just deleted 2 args in pytorch ONNX export (those args have been removed in Pytorch 1.11).

[2022-05-25 13:58] pommedeterresautee commented on #60
closing because recent merged work should have fixed this issue. Don't hesitate to reopen the issue @Ki6an

[2022-05-25 13:59] pommedeterresautee commented on #46
closing as there no new posted messages since a few months.

[2022-05-25 14:45] victox5 opened #78 "T5 demo breaking"
Hi, thank you for the recent updates on T5!

I have been testing the T5 demo notebook and I noticed a part breaking. The bitwise operator does not work with floating points. (`torch.any(tensor < resolution & tensor > -resolution & tensor != 0)`)

**Environment**: Dockerfile master + pip install nvtx seaborn

 - Additional information:
	 - nvidia-tensorrt==8.2.4.2
	 - nvtx==0.2.5
	 - onnx==1.11.0

[2022-05-25 15:07] victox5 commented on #78
Thank you very much for the quick response!

The order to resolve the operators was making it crash, I changed the line (as you suggested) to :
`or (torch.any((tensor < resolution) & (tensor > -resolution) & (tensor != 0)))`

The cell runs fine now!

[2022-05-25 15:08] pommedeterresautee commented on #78
which version of Pytorch and Python are you using?

[2022-05-25 15:54] #78 closed

[2022-05-25 20:32] brevity2021 opened #80 "Build OnnxRuntime Error"
Hi, I was following the compilation steps in the [t5 notebook](https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/t5.ipynb) to build OnnxRuntime. But when I run
`git checkout -b fix_if e1c04eed29d48f295de1cfbd48713158537cdaa7`, the output is:
`fatal: reference is not a tree: e1c04eed29d48f295de1cfbd48713158537cdaa7`.

Previously I ran:
`git clone --recursive https://githu

[2022-05-26 15:03] pommedeterresautee commented on #80
that is because I have failed in copy pasting the commit :-(

try with:
`git checkout -b fix_if 81d78706feb1dc923f3e43f7ba8ac30b55f5b19b`

Thank you for the report, I will fix it!

[2022-05-27 06:34] victox5 commented on #78
Thanks for the fix! To answer your question:
PyTorch 1.11.0
Python 3.7.12

[2022-05-27 12:16] pommedeterresautee commented on #80
Issue fixed, closing

[2022-05-27 12:16] #80 closed

[2022-05-27 17:55] VikasOjha666 opened #81 "Output difference between ONNX and Pytorch in T5 notebook"
Hi @pommedeterresautee Just checked out the latest T5 optimization notebook . Everything seems to be working well for T5-base pretrained model from huggingface but when I am trying to optimize model from valhalla/t5-base-qa-qg-hl. I am noticing difference in output between the two.

Below is code snippet modified from T5 notebook.

input_text='''<hl> Python <hl> is an interpreted, high-level, gene

[2022-05-27 18:17] VikasOjha666 commented on #81
@pommedeterresautee  For some reason I found addition of space or </s> which is required by previous version of transformer is creating this issue. Removing it from input is solving the issue but the question is that what impact this model will have in production?

[2022-05-27 19:03] kamalkraj opened #82 "ONNX opset mismatch error."
Full error message
[code]

cmd to reproduce

[code]

@pommedeterresautee

[2022-05-28 23:07] pommedeterresautee commented on #81
It's expected that the produced text is not always the same. There are rounding differences between the two and you need just one different generated token to get very different sequences.
On average the quality should be similar, is it the case?

To reduce the difference with original model, you can skip the fp16 conversion. The inference will be slightly slower but not a lot as with the cache su

[2022-05-29 05:22] VikasOjha666 commented on #81
@pommedeterresautee Okay thanks.Will experiment and let you know.

[2022-05-30 06:43] pommedeterresautee commented on #51
closing, no activity

[2022-05-30 06:43] #51 closed

[2022-05-31 12:21] HireezShanPeng opened #85 "big performance difference on tensorRT"
Hi, I just tried the demo code below, in your result, the [TensorRT (FP16)] result is much better than others. However, the results I got are quite different. there is not such a big difference between [TensorRT (FP16)]  and others (the output is attached). I wonder if you know what happened or how I can figure out the reason for that. Thank you.
[code]

[code]

[2022-05-31 13:05] HireezShanPeng commented on #85
Also, I got this error while running the code above
[code]

[2022-06-01 07:38] kamalkraj commented on #85
Hi @HireezShanPeng,

The big performance difference comes from [RTX 3090](https://www.nvidia.com/en-in/geforce/graphics-cards/30-series/rtx-3090-3090ti/) card used in the readme.

https://pytorch.org/blog/accelerating-training-on-nvidia-gpus-with-pytorch-automatic-mixed-precision/
https://www.tensorflow.org/guide/mixed_precision#supported_hardware
https://developer.nvidia.com/blog/mixed-precision-

[2022-06-01 07:57] kamalkraj commented on #85
https://github.com/NVIDIA/TensorRT/issues/218

[2022-06-02 02:00] Ki6an commented on #60
@pommedeterresautee thanks, Do you plan on adding support for the Triton server?

[2022-06-02 02:20] Ki6an opened #86 "convert_model: error: argument --task: invalid choice: 'token-classification' (choose from 'classification', 'embedding', 'text-generation')"
while running command,
[code]
getting the following error:
[code]
is `token-classification` completely supported yet? thanks

[2022-06-02 03:51] Ki6an opened #87 "Dynamic batching does not give better latency for Roberta running on TensorRT."
Hi, I used your `build_engine` API to convert the Roberta model.  While building if I use the constant batch size for input_shapes, i.e. `(min, optimal, max) -> (1,1,1) or (4, 4, 4,)`. The model yields good results (faster than ort and torch).

But when I convert it with dynamic batch size i.e.  `(min, optimal, max) -> (1, 4, 4)`, the model performs really slow compared to ort or torch.

code to u

[2022-06-02 04:37] lakshaykc opened #88 "Error in docker container using pip install"
**What is happening?**
I'm using the docker container `ghcr.io/els-rd/transformer-deploy:0.4.0` to run the embeddings example in the doc using the following command:

[code]

When I launch the container and run the above command, I get the expected output without any issues. However, if I update the `transformer-deploy` package using `pip install .` and then run the above command, I get the follow

[2022-06-02 05:45] ice-americano opened #89 "Mixed precision conversion not"
Firstly, thanks for this deployment package! @pommedeterresautee
I was trying to optimize our finetuned(also pre, post forward code modified) T5 model from your recent T5 optimization notebook.
When I was converting encoder to mixed precision, I was getting an assertion error of `Graph is not a DAG`

Here is the snippet for conversion:
[code]

Stacktrace:
[code]

I installed the `transformer-deplo

[2022-06-02 06:56] pommedeterresautee commented on #86
Lib version with token classification is only ON `master` branch and will be added to the Docker artefact during the next release (hopefully in June when Onnx Runtime and Triton will be updated).

[2022-06-02 07:08] pommedeterresautee commented on #87
TRT being 4 times slower than Pytorch is not expected results.
What GPU / CUDA / TRT version are you using?
Are you using Docker version?
What is the value of `quantization` variable?

A thing I do when I am surprised by TRT results is to use the `trtexec` util through the command line.
It does benchmarking at the end of the process and helps to check if there is a code with Python code or it's a

[2022-06-02 07:12] pommedeterresautee commented on #88
`synchronize_inputs` is only present on the last version of Onnx Runtime. The `master` branch is based on last ORT version.
The docker version you are using is based on an old version of ORT.
I think that if you just update ORT in Docker (through bash or whatever) during runtime it should fix this issue.

[2022-06-02 07:18] pommedeterresautee commented on #85
Thank you @kamalkraj for your answer. Just to complete:
- when there is no tensor cores dedicated to FP16, mixed precision is usually slower as we add some casting (Fp32 <-> FP16) here and there involving plenty of tensor copies;
- if you are doing cloud inference, T4 is a "cheap" option (regarding other GPU prices) which supports FP16. However, you need to keep in mind that recent GPUs have much

[2022-06-02 13:45] pommedeterresautee commented on #89
Hi @ice-americano,
1/ does it work with non modified version of `forward` method?
2/ can you share your modified `forward` method?

[2022-06-02 14:51] pommedeterresautee commented on #60
T5 work requires a good support of the `If` Onnx node, which has been recently added to Onnx Runtime (only `master` branch).
Triton support will be added when Onnx Runtime 1.12 (somewhere in June) and Triton with Onnx Runtime 1.12 support will be released.

[2022-06-02 15:13] Ki6an commented on #87
thank you for the quick response,

I'm using [triton-server docker image version 22.04](https://docs.nvidia.com/deeplearning/triton-inference-server/release-notes/rel_22-04.html#rel_22-04) as the base image.

system info :
GPU - `T4 (15GB)`
CUDA - `11.6`
TRT - `8.2.4.2`
Quantization is `False`, currently focusing on the fp16 version.
I tried with `nvidia-tensorrt==8.4` and still facing the same is

[2022-06-02 16:08] Ki6an commented on #87
ran with the `trtexec` command inside the [`tensorrt container 22.04`](https://docs.nvidia.com/deeplearning/tensorrt/container-release-notes/rel_22-04.html#rel_22-04) container
[code]

and getting the same results...
[code]

[2022-06-02 16:30] Ki6an commented on #86
thanks, I was able to build it from the master branch but to make convert.py work I needed to downgrade the protobuf version to `3.19`.

[2022-06-02 16:46] Ki6an commented on #86
related to the token classification;

currently, the [`token_classifier.py`](https://github.com/ELS-RD/transformer-deploy/blob/main/src/transformer_deploy/utils/token_classifier.py) copies a lot of code from huggingface's [file](https://github.com/huggingface/transformers/blob/main/src/transformers/pipelines/token_classification.py)

we can condense it by using following code
[code]
then we can us

[2022-06-02 17:59] ice-americano commented on #89
1. Yeah, when I was using `T5EncoderModel` from my checkpoint, script was able to convert(I was reshaping the encoder input ids before `forward` call). However, the output tensor of the Onnx FP16 model had `nan` for all.
2. So basically, before calling original forward,

[2022-06-03 07:55] pommedeterresautee commented on #89
you are using T5 3b with external data ?

[2022-06-03 12:14] pommedeterresautee commented on #82
I have been able to reproduced the bug.
Fortunately, with the very last version of Triton I have no more issues.

On https://github.com/ELS-RD/transformer-deploy/pull/90 branch:

[code]

[2022-06-03 14:26] kamalkraj commented on #82
Okay @pommedeterresautee
Thanks for the update

[2022-06-03 14:59] #82 closed

[2022-06-03 15:08] pommedeterresautee commented on #86
@Ki6an tks for the remark! Please don't hesitate to open a PR to simplify the codebase it would be very appreciated!
Regarding protobuf, I just merged some fixes, I think it works out of the box, at least on Docker and my machine :-)
Let me know if there is still a bug on your side.

[2022-06-03 15:10] pommedeterresautee commented on #87
Thank you, the error message is interesting. I will dig into this on my side.
Do you have the same behavior with `KoichiYasuoka/deberta-small-japanese-luw-upos` ? (I plan to use a small model for tests)

[2022-06-03 15:14] ice-americano commented on #89
I was using T5-3b, so I just assumed that package will default to using external data, isn't it? Also I just decided to use default encoder

[2022-06-03 15:23] ice-americano commented on #89
I was using T5-3b, so I just assumed that package will default to using external data, isn't it?

Actually I saw your [issue](https://github.com/microsoft/onnxruntime/issues/11511) on ORT repo, so I built the ORT package from master two days ago. So ORT should be pretty up-to-date, just missing 2~3 commits.

Also I just decided to use default encoder and everything looks fine(including merging gra

[2022-06-03 15:50] pommedeterresautee commented on #87
I have been able to reproduce the results.
The error message means that for best performances you should only use one dynamic axis (batch or seq len).
I have tried to keep batch size fixed and results are much better :-)
[code]

[2022-06-03 16:00] pommedeterresautee commented on #89
haha may be not, the commit you want is 2 days old
![image](https://user-images.githubusercontent.com/1029874/171902344-d2effefd-95cb-4d82-9b47-041bdfbd0ff2.png)

So it depends of the exact hour you refreshed stuff :-)

Fp16 works only if you do mixed precision, keeping some nodes in FP32. trtexec can't do such thing.

[2022-06-03 16:10] ice-americano commented on #89
:sunglasses: Yeah I pulled from master after seeing that `Revert ...` commit, since I was facing that issue(`CUDA failure 700`) before.
I actually meant mixed precision(although I did not fully get what trtexec is). I just followed the script as the following:
[code]
Any clue on what I could be doing something wrong?

[2022-06-03 16:16] pommedeterresautee commented on #89
You may want to increase `early_stop` to a bigger value, it will make more nodes in FP32 (at least in theory)
What kind of GPU are you using?

[2022-06-03 16:25] ice-americano commented on #89
Oh okay. Default value I was using was 100, so I might try 150, 200, etc.
I am using A6000!

[2022-06-03 17:27] pommedeterresautee commented on #89
Just something which comes to mind, have you checked that your transformations are correctly exported in Onnx? (by using onnx lib or netron)

[2022-06-03 18:12] ice-americano commented on #89
I think fp32 checkpoint is well exported, since generated tensor was equal to that of the torch model. I did it with `convert_to_onnx` function from the script. I guess you meant the mixed precision  checkpoint?
[code]

[2022-06-07 12:07] Ki6an commented on #87
Thank you for looking into this, really appreciate it.

Does this only apply to this model, or does it apply to all transformer models?

We are also doing the same; we converted the model with a fixed batch size of (4,4,4) and now the model accepts exactly 4 batches. if the input batch to the model is <4 we fill the remaining items with empty strings to make it full.

[2022-06-07 12:34] pommedeterresautee commented on #89
Just wondering, did you update the `fp16_default_tolerance` value used in `are_equal`?

It has to be increased with the size of the model to take into account the rounding errors accumulating with the number of layers (no quality issue, these models are usually trained in FP16, just that the compare with FP32 increase).

[2022-06-07 12:40] Ki6an commented on #60
Great!
I tried T5 with cache (i.e. with `past-key-values`) on `triton server`. For generating every single token, the model (decoder) was making lots of requests (`24 pkv + 1 logits` just for `t5-small`). Which is slowing down inference... Do you have suggestions for this? Or any ideas to get around this issue?
thanks

[2022-06-07 13:00] pommedeterresautee commented on #60
Current Triton version (including 22.05) used a version of ONNX Runtime which has not a good support of `If` node. Basically there is a bug which moves all CUDA input to CPU memory and back to CUDA (because of a wrong default policy) when those tensors are only consumed by a subgraph of the `If` node. It works but it's super slow. The bug is only fixed in `master` of ORT. So until you have recompi

[2022-06-07 17:11] pommedeterresautee commented on #87
It depends of your use case and definitely requires real benchmark.
In my own usecase, I got something like 10 batches of documents with 9 of the same size and 1 a bit smaller.
Adding fake docs to the last one cost me very little compared to the boost offered by TRT.
On the other side, my docs can be as small as 100 tokens to 400 tokens, so padding would cost me a lot.

If you are working on super

[2022-06-07 17:13] sam-writer commented on #87
Thank you for the detailed answer

[2022-06-08 08:28] #86 closed

[2022-06-08 15:35] zhaohb opened #94 "do we support converd electra model to ONNX or Tensorrt"
do we support converd electra model to ONNX or Tensorrt?

thank you very much.

[2022-06-09 07:51] pommedeterresautee commented on #94
It should ! Did you experienced an issue?

[2022-06-09 07:58] pommedeterresautee opened #95 "Switch T5 notebook to 3B model"
Right now the `T5` notebook is based on large flavor.
There was 2 blocking issues with 3B flavor:
- a ORT bug on external data
- memory footprint requiring GPU with 40 Gb of RAM at least (because of the FP16 conversion process)

The ORT bug has been fixed by https://github.com/microsoft/onnxruntime/pull/11650
context: https://github.com/microsoft/onnxruntime/issues/11511

The only remaining blocke

[2022-06-09 08:24] zhaohb commented on #94
I want to convert electra model to ONNX or TRT deployment, but I don't see support for electra model in the documentation, so I added that issue.
I will try to transform the electra model using transformer-deploy.
thank you very much.

[2022-06-15 06:59] Ki6an commented on #60
Great find! Thanks for fixing the bug.

Sorry for the replying late on this.

As mentioned above, I'm trying to serve the T5 model from triton server. I have an encoder (ort-backend), decoder (ort-backend) and ensemble_t5 (that uses a python backend to preprocess the text and also to handle the huggingface api). I have converted the model with cache (i.e. with past key values) so my decoder takes

[2022-06-15 07:54] ayoub-louati opened #96 "Test fastseq project: https://github.com/microsoft/fastseq"
Compare results with transformer-deploy and conclude about the possibility of integrating some ameliorations from fastseq into transformer-deploy.

[2022-06-15 08:14] pommedeterresautee commented on #60
Triton uses dlpack to pass tensors from one backend to another, it's supposed to be close to cost free (it just wraps the tensor but there is no copy). Did you measured that the slowness was because of these transfers between backends ?

[2022-06-15 12:29] dheerajiiitv opened #97 "Error Nodes in a graph must be topologically sorted, however input 'encoder_hidden_states' of node: name: MatMul_173_input_cast0 OpType: Cast is not output of any previous nodes"
[code]

Hey Team,
I am setup all the libraries needed to convert the T5 model to ONNX, and it ran successfully. Thanks for excellent code. Now I want to try to convert other encoder decoder architecture using the same notebook, and I was successful in converting MarianMT Model all three model encoder, decoder, decoder_cache to onnx using the same code in T5 with some changes, but merging decoders

[2022-06-20 15:59] Ki6an opened #100 "UnboundLocalError: local variable 'network_definition' referenced before assignment"
when running the https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/t5_tensorrt.py file in a container created from the source repo,
getting the following error:

[code]

[2022-06-20 16:24] Ki6an commented on #60
thanks for the response and tip,

the execution of the onnx model part is slow
[code]
I also noticed that the following part is also little slow...
[code]
here `T5Helper` is
[code]

[2022-06-21 04:06] Ki6an commented on #87
upgrading to `nvidia-tensorrt==8.4.1.5` solves this issue.

[2022-06-21 04:06] #87 closed

[2022-06-21 08:45] pommedeterresautee commented on #87
Thank you for the info

[2022-06-21 09:27] pommedeterresautee commented on #60
Sorry to reask, just to be sure, you are using 2 decoders and 1 encoder, right?

Moreover, why do you need `tensor.cuda()` in `get_output_tensors` ? It should already be on GPU.

Is `FORCE_CPU_ONLY_INPUT_TENSORS` set to `no` ?
https://github.com/triton-inference-server/python_backend#input-tensor-device-placement

Also, probably not your issue, but to improve things, a correct host RAM allocation

[2022-06-21 12:51] Ki6an commented on #60
yes

for some reason, it's not placing the output tensors directly on GPU even though I set `FORCE_CPU_ONLY_INPUT_TENSORS ->  no` in ensemble_t5 python backend.

this slowdown occurs when I place the whole pipeline (i.e tokenizer and model) on gpu

I tried keeping the model and tokenizer on the CPU, but this time the input part i.e
[code]
is slow (almost half as slow but in overall speed compariso

[2022-06-21 15:04] denisov-vlad opened #101 "Probabilities for classification task comparing to PyTorch"
Hi!

In default transformers I receive class probabilities with sum = 1, i.e. `label_0 = 0.7, label_1 = 0.3`.

When I convert the model via `transformer-deploy` to TensorRT and run it in Triton I receive different scores, i.e.: `['0.350586:0' '-0.162720:1']`

How they can be interpreted?

Thanks!

[2022-06-21 16:05] pommedeterresautee commented on #101
which model are you using ?
Can you provide the command line?

[2022-06-21 16:13] pommedeterresautee commented on #100
Thanks @Ki6an !
Indeed it's a bug recently introduced, source code should be (note there is no more `network_definition` variable):

[code]

Just tried with the fix and works like a charm.

I will push a fix.

[2022-06-21 17:09] pommedeterresautee commented on #60
Ok I think you have found the culprit, if the tensor is provided on CPU, there is no way to get low latency.
Would it be possible for you to share a minimal reproduction case? (including Triton config files) I can try to test it/dig on my side.
May be something super simple without any decoder, just it retrieves the output of an Onnx model on Python and log some info (like tensor device :-) )

[2022-06-22 04:23] michaelroyzen opened #102 "Optimizations for T0"
I'm trying to replicate the T5 ONNX optimization notebook (the latest version, on the feat/t5_3b branch) but for T0_3B (which in itself is a derivative of T5, but with a slightly different config and no tie_word_embeddings.

I installed ONNX runtime from source as described in the notebook.

The only changes I made to the notebook are replacing "t5-3b" with "bigscience/T0_3B", and commenting out `

[2022-06-22 04:49] Ki6an commented on #100
thank you for the response and the fix...

I ran the  https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/t5_tensorrt.py file, it converts the decoder successfully to tensorrt. however, I noticed that it outputs only 4 tensors. Should not it output all `past_key_values` and one `logit`?

[code]

[2022-06-22 07:51] pommedeterresautee commented on #102
Hi @michaelroyzen ,

I run it on my side and it worked perfectly (with the same modifications than those you did).

Closest model to T0 is t5_v1-1 as it uses gated RELU instead of RELU (T5) in FF step.
I have also tried with `google/t5-v1_1-small` for a rapid test and it also worked perfectly.

Can you try with the small one?

[2022-06-22 09:07] denisov-vlad commented on #101
The model is based on BERT, detailed config is here: https://huggingface.co/vladenisov/sports-antihate/blob/main/config.json

I've used this command to convert model:
[code]

[2022-06-22 11:57] pommedeterresautee commented on #101
For instance:

[code]

produces:

[code]

So it seems to match your experience with `TensorRt`.
To get something which adds up to one you would need to perform a softmax on the output for instance but it won't change the perf of your model.

[2022-06-22 12:08] denisov-vlad commented on #101
Sorry, my bad.

I've made prediction via transformers `pipeline()` method.

Thanks!

[2022-06-22 12:08] #101 closed

[2022-06-22 18:39] pommedeterresautee commented on #102
I really meant onnx library not onnx runtime. It's the one used to manipulate computation graph and it may be key in the merge process.

[2022-06-22 18:47] michaelroyzen commented on #102
Gotcha, we do use onnx 1.11.0. Just tried with `google/t5-v1_1-small` and got `InvalidGraph: [ONNXRuntimeError] : 10 : INVALID_GRAPH : Load model from ./test-dec-if/model.onnx failed:This is an invalid model.` on `dec_if_ort_model = create_model_for_provider(dec_if_model_path, "CUDAExecutionProvider", log_severity=3)`.

One thing to note is we are using the [nvcr.io/nvidia/pytorch:22.04-py3](http:

[2022-06-22 20:57] pommedeterresautee commented on #102
I did my test locally, Ubuntu 22.04, CUDA 11.7 and any Nvidia dependency up to date basically.
Instinctively I think it's not related to CUDA drivers, etc. It's something related to the graph.

Would it be possible to set log severity to 0 and share logs?

If `onnx` is not the cause, may be Pytorch ?
I would test with NVC 22.02 which seem to be the last one to be built with Pytorch 1.11 (22.04 is

[2022-06-22 21:24] michaelroyzen commented on #102
I got it to work just now actually using CUDA 11.4 from the 21.08 image and then manually bumping ONNX to 1.11.0 and PyTorch to 1.11. Thanks!

Now I'm dealing with CUDA OOM when trying to run the benchmarks (hardware: A10 GPU w/ 24GB VRAM), it seems that loading `enc_fp16_onnx = create_model_for_provider(encoder_fp16_model_path, "CUDAExecutionProvider", log_severity=3)
enc_fp16_onnx_binding: IOBin

[2022-06-23 10:34] pommedeterresautee commented on #102
The issue is with past states which of course become bigger and bigger with model size + beam search + long seq len.

With the code on the repo, the best you can do is 128 tokens with beam search 2 on 24Gb RAM (at least on a 3090RTX).

We are working on reducing memory footprint, right now by a quite simple modif of the T5 code in transformers (that we plan to apply through monkey patching) we are

[2022-06-23 16:22] michaelroyzen commented on #102
Is the reason that the ONNX model is ~2x the memory size of the PyTorch one because of the IF node merging the decoders with and without cache? If so, I'd be interested in discarding the version without cache to save that memory.

Fastseq looks interesting, it'd be great if you could share how you think it could be adapted.

[2022-06-28 08:31] Thytu opened #104 "Docker Hub image seems to not be synched with the main branch"
The image hosted in the docker hub seems to not be in synch with the main branch.

When using `ghcr.io/els-rd/transformer-deploy:lasted` and inspecting the source code we can see that the task `token-classification` is not available in the file `utils/args.py` suggesting it's not up to date.

I suggest to automatically update the served image at each merge into the main branch 🙂
(Or either specify

[2022-06-28 20:58] kamalkraj opened #106 "onnx optimized for distilbert fails with batch > 1"
To replicate , run `make docker build` on main branch

with batch 1 1 1
<img width="1679" alt="Screenshot 2022-06-29 at 2 27 38 AM" src="https://user-images.githubusercontent.com/17096858/176286459-03aca53b-2d55-4da2-af46-64d1f47b4448.png">

with batch 2 2 2

<img width="1669" alt="Screenshot 2022-06-29 at 2 24 55 AM" src="https://user-images.githubusercontent.com/17096858/176286367-450af2b8-1cf2-

[2022-06-29 18:29] pommedeterresautee opened #107 "Pytorch 1.12 breaks GPT-2 (and probably T5)"
Updating Pytorch to version 1.12 breaks GPT-2 unit test.
The issue is related to `TensorRT`:

[code]

related to #102

[2022-06-29 18:37] pommedeterresautee commented on #102
Hi, it seems that the official Pytorch 1.12 breaks `GPT-2` unit test and probably `T5`.
We will dig into it.
Regarding the fastseq thing, after analyzing the few thousands of loc in the repo, it appeared that the modification to get most of the perf are quite light. For now, our approach is to monkey patch source code. For that we compare fastseq source code with transformers version 4.12.5.

To t

[2022-06-30 07:52] #96 closed

[2022-06-30 15:22] pommedeterresautee commented on #107
For documentation purpose, it appeared that Pytorch 1.12 export onnx file with a different granularity than previous versions (even if we keep the onnx version fixed).
The bug was caused by the merge operation, which deduplicate weights (called `initializer` in onnx).
Now, among the initializers, there are things which were previously in node attributes (meta attached to a node).

The workaround i

[2022-06-30 15:49] pommedeterresautee commented on #97
Have you a specific model in mind?

[2022-06-30 19:31] pommedeterresautee commented on #81
closing as there is no more activity. Please don't hesitate to reopen

[2022-06-30 19:31] #81 closed

[2022-06-30 22:17] #37 closed

[2022-07-01 13:37] #57 closed

[2022-07-03 22:02] pommedeterresautee commented on #107
On GPT-2, when tested with `trtexec` the error seems to be related to dynamic axis and the `Slice` operator:

[code]

[2022-07-04 07:58] pommedeterresautee commented on #107
After a bunch of tests, including exporting the model from HF directly, it seems that the cause is just that TensorRT doesn't manage well Pytorch 1.12 ONNX exported models. The only fix for now is to set axis fix which is meaningless in the case of a generative language model.

Opened an issue: https://github.com/NVIDIA/TensorRT/issues/2119

[2022-07-04 10:23] accountForIssues opened #109 "Optimising ONNX Graph either takes too long or doesn't seem to work"
Using the GPT2 Notebook, I am trying to convert a gpt2 model to an optimised ONNX graph and I'm stuck at what seems to be random behaviour.

The export to ONNX works fine. However, while optimising the ONNX graph, I usually see warnings similar to this:
`WARNING:symbolic_shape_infer:Cannot determine if Reshape_560_o0__d1 - sequence < 0`
over and over again until I have to stop the kernel.

It did

[2022-07-04 20:41] pommedeterresautee commented on #109
Which version of PyTorch are you using ?

[2022-07-04 21:05] accountForIssues commented on #109
I've tried with both 1.11 and 1.12.

Is there a recommended way or guide to use this library along with setting up an environment ? Maybe there is a package conflict somewhere I'm overlooking.

[2022-07-05 15:50] Matthieu-Tinycoaching opened #110 "[ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Unexpected input data type. Actual: (tensor(int64)) , expected: (tensor(int32))"
Hi,

I have used the docker container to convert a model to ONNX:
[code]

But when trying to run this ONNX model:
[code]

I got the following error:

[code]

It seems that the ONNX model has been exported with int32 as input instead of the classical int64. Is there a way to mitigate this?

Thanks!

[2022-07-05 17:13] #100 closed

[2022-07-05 17:13] #102 closed

[2022-07-05 17:22] pommedeterresautee commented on #110
Hi,

We convert all int64 inputs to int32 as it's not supported by TensorRT and there is no tokenizer using a range of IDs outside int32.

The conversion is done on this there:
https://github.com/ELS-RD/transformer-deploy/blob/v0.4.0/src/transformer_deploy/backends/pytorch_utils.py#L123

You would just have to comment that part.
Just note that version 0.4 is a bit old, we are waiting for a new Onn

[2022-07-05 19:36] pommedeterresautee commented on #94
Just ran that line which worked, so closing the issue:

[code]

[2022-07-05 19:36] #94 closed

[2022-07-05 19:36] pommedeterresautee commented on #106
fix is merged. Closing

[2022-07-05 19:36] #106 closed

[2022-07-05 19:45] kamalkraj opened #111 "HF pipeline based inference"
Hi @pommedeterresautee,

Please let me know your thoughts on converting the text classification also to HF pipeline, similar to Token classification and QA pipeline.  I can work on this feature.

Thanks

[2022-07-05 20:27] pommedeterresautee commented on #111
Hi @kamalkraj,

Thank you for your proposition.

In token classif and QA there is a mechanic to transform scores output by the model into something a bit more actionable (extract spans, etc.).
It seems to me that classification is a bit simpler, we can just reuse the scores directly.
What do you think would be the reason for switching to a pipeline based model?

Kind regards,
Michaël

[2022-07-05 20:54] kamalkraj commented on #111
Hi @pommedeterresautee,

If the model is directly outputting scores, the client who uses this model also needs to maintain index-2-label mapping.
Whenever we change a model server, we also need to ensure the label-2-index mapping between client and server is in sync.
If the server/model output is an exact label with a score, it will be much easier to integrate and less error-prone.

Thanks

[2022-07-05 20:58] kamalkraj commented on #111
Currently, this lib only supports single sentence classification. We can also add support for models trained data like https://huggingface.co/datasets/snli

[2022-07-05 21:08] pommedeterresautee commented on #74
closing as there is no activity since > 1 month and the question has been answered

[2022-07-05 21:08] #74 closed

[2022-07-05 21:48] Matthieu-Tinycoaching commented on #110
Hi @pommedeterresautee thanks for the detailed answer. I don't want to use `inputs_ids.as_type(np.int32)` as it seems to create a copy of the initial tensor and would like to minimize latency for real time inference.

Would you have any suggestions?

[2022-07-06 12:32] accountForIssues commented on #109
Maybe solved.

I created a new docker image using the latest cuda runtime and installed each package.

I can confirm that the latest torch causes this issue but I do remember when I used an older torch image that I got this error as well so I definitely think there's another package that could be causing this issue.

In any case, I will keep testing to see out if it breaks again. Hopefully, you co

[2022-07-06 13:49] pommedeterresautee commented on #89
We have completely rewrote this stuff. Can you recheck?

[2022-07-06 13:51] pommedeterresautee commented on #47
closing as there is no activity

[2022-07-06 13:51] #47 closed

[2022-07-06 13:53] pommedeterresautee commented on #6
benchmarks has been started to be added in #95

[2022-07-06 13:53] #6 closed

[2022-07-06 14:03] #54 closed

[2022-07-06 17:19] christianjoun commented on #54
Thank you

[2022-07-07 12:28] pommedeterresautee opened #112 "simple benchmark with torchdynamo"
`Torchdynamo` is a prototype on which Pytorch team is working right now.
It supposed to offer the flexibility of Python and the optimization level of computation graph compilation.
It supports many backends, including `tvm`, `tensorrt` and `nvfuser`.

Static graph compilation is not always easy, we may want to perform a rapid benchmark to compare at least classic approach (`onnx runtime` or `tenso

[2022-07-07 14:22] pommedeterresautee opened #113 "split model between host memory and GPU"
With Triton it's certainly possible to move a model between host and device memory.
Combined with pipeline parallelization we may support model bigger than the available memory.

inspiration: https://arxiv.org/pdf/2207.00032.pdf

[2022-07-08 20:04] michaelroyzen commented on #102
Running the new t5_bf16 notebook with T0 results in this error when exporting the encoder:

`RuntimeError                              Traceback (most recent call last)
/tmp/ipykernel_632/3381225355.py in <module>
----> 1 convert_to_onnx(
      2     model_pytorch=pytorch_model.encoder,
      3     output_path=encoder_model_path,
      4     inputs_pytorch={"input_ids": input_ids},
      5     var

[2022-07-12 13:33] CecileGiang opened #115 "Cannot build TensorT engine for classification models"
Hello,

I tried to reproduce the optimization process you decribed in your `Accelerating GPT-2 model` notebook demo for optimizing a model for ONNX Runtime and Triton server, but with a classification model (namely `facebook/bart-large-mnli` which I found on HuggingFace's hub).

However I get a problem when trying to build a TensorRT engine from the corresponding ONNX file: the task fails and the

[2022-07-18 06:30] pommedeterresautee commented on #115
Sorry for the delay, I was on vacation.

Can you run the conversion with `trtexec` and share the logs?
It provides meaningful error message unlike the `Python` wrapper.

[2022-07-18 06:35] pommedeterresautee commented on #111
Hi @kamalkraj, to keep you updated we are thinking into writing our own CUDA kernels and run them on Pytorch directly (without any ONNX / TRT in between) and hope to reach decent performances (at least close to ONNX Runtime ones). If this works (which is not guaranteed at all), we would not need anymore to convert stuff from one framework to another.

Btw, what do you think of such approach (if th

[2022-07-18 10:47] pommedeterresautee commented on #111
Yes but much simpler to use (even user should be able to compose their own fused kernel without knowing cuda) and if possible less monolithic (not layer wide). Also more PyTorch vanilla (basically some fused kernels and replace original code by FX).
Still ... same spirit than deepspeed inference and torchDynamo -> stay in python during the put in prod step.

[2022-07-18 12:27] kamalkraj commented on #111
Okay.
One more question, after optimization, how the model is integrated? Using Triton Inference Server or Direct integration to the program?

[2022-07-18 12:55] pommedeterresautee commented on #111
What do you mean by direct integration?
If inference, whatever the user wants, may be `Triton` through `BLS`, `torchserve` or `Ray` server (never tested).
The point is to be as light and invisible as possible.

[2022-07-19 06:28] kamalkraj commented on #111
Thank you for the clarification.
But I don't know why would somebody write a custom Cuda kernel to achieve a similar performance to the model exported by `torch.onnx.export`. I know onnx export has limitations, but most of the time, it works fine.
Do you have any specific model or use case?

[2022-07-22 15:15] #112 closed

[2022-07-22 15:15] #107 closed

[2022-07-26 05:31] CecileGiang commented on #115
Hello, thank you very much for your reply. I'm sorry for the late answer, I was on vacation as well !
I ran the conversion with `trtexec` as you requested, and I get the following log:

[code]

It seems that by using the `BartForSequenceClassification` module to load my model, the `NonZero` operation, which is not supported by TensorRT, appears somewhere in my model graph.

Do you have any workaro

[2022-07-27 16:15] bbartlett-nv opened #117 "embedding task fails with batch_size > 1 given variable length inputs"
When calling embedding task say in the infinity demos, a batch is created by"[text] * batch_size" which works. However, this simply duplicates the same text "batch_size" times.

If a batch is created with containing strings of different sizes
input = grpcclient.InferInput(name="TEXT", shape=(batch_size,), datatype="BYTES")
input.set_data_from_numpy(np.asarray(["some text","some longer text"], dtyp

[2022-07-29 13:17] pommedeterresautee commented on #117
Thanks @bbartlett-nv for the question.
Just to clarify, when you are generating texts of different sizes it doesn't work?

If you can provide some end to end reproducible example it would be helpful.

Moreover, below is a page related to how to gen packet to send to Triton:
https://github.com/ELS-RD/transformer-deploy/blob/main/docs/run.md#query-the-inference-server

[2022-07-29 15:16] bbartlett-nv commented on #117
thanks for the prompt response! I will try to explain a reproduceable example:

1) Run the following from within ghcr.io/els-rd/transformer-deploy:0.4.0
```convert.py -m sentence-transformers/msmarco-distilbert-cos-v5 --backend onnx tensorrt --task embedding --seq-len 2 128 256 --batch-size 2 2 2```

Output:

[code]

2) Spin up triton inference server:
```docker run -it --rm --gpus all -p8000:8000

[2022-07-30 00:10] michaelroyzen opened #118 "t5_bf16 notebooks fails with [ONNXRuntimeError] : 10 : INVALID_GRAPH"
I'm running the t5_bf16 model with the T0_3B model. Everything works great until
[code]
causes

I'm running PyTorch 1.11.0 and onnx 1.11.0 with onnxruntime 1.12.0. Your help would be greatly appreciated @pommedeterresautee

[2022-08-01 07:30] pommedeterresautee commented on #117
It appeared that it is caused by a change of behavior in the HF tokenizer, now padding is disabled by default!
To fix, you need to modify the generated tokenizer script and add `padding=True` when the tokenizer is called.

[code]

[2022-08-01 08:46] pommedeterresautee commented on #60
FYI, Triton 22.07 has been released. It fixes a bug where ORT tensors where always put in host memory (plus it's built with ORT 1.12.0 which have also it's own memory placement bug).

Updated code of this repo (there are some subtleties to manage, not just an update of the docker image):

https://github.com/ELS-RD/transformer-deploy/pull/116

Let us know if it helps regarding your issue.

[2022-08-01 23:21] michaelroyzen commented on #118
@pommedeterresautee The t5_bf16 notebook doesn't work with t5-3b either, for that matter. It errors on the same line as T0_3B, but for a different reason:

This is quite important for the project I'm working on, and it would be great if you could help ASAP. Thank you in advance

[2022-08-03 20:35] ice-americano commented on #89
Sorry, I was busy :sweat_smile: Yeah, I was going to try again, but just found the new notebook `t5_bf16.ipynb`!
Actually, I have been waiting for bf16 quantization, so I wanna try that out instead.

[2022-08-04 12:40] pommedeterresautee commented on #89
TBH, I think you will be disappointed (at least we were), the precision is very low, not tried but I would expect it shows in the accuracy measures whatever your task. My understanding is that it's supposed to be used with mixed precision in mind, so you still have some casting here and there, just none for out of range values.

[2022-08-04 19:14] bbartlett-nv commented on #117
this worked well, thanks !

[2022-08-04 19:14] #117 closed

[2022-08-05 14:33] MaximilienLC opened #119 "[Question] TensorRT + ONNX Runtime"
Hi, I was wondering what your thoughts / experiences were with combining TensorRT & ONNX Runtime.

https://onnxruntime.ai/docs/execution-providers/TensorRT-ExecutionProvider.html

[2022-08-05 14:57] pommedeterresautee commented on #119
We have found it to be very hard to use IRL. Basically there is a cache system (`ORT_TENSORRT_ENGINE_CACHE_ENABLE`) which recompiles the model for each change of input shape. So you can pad input (which means burning computation for nothing) or it recompiles model from time to time. TensorRT is very slow at compiling.
I can see it useful for images where input shapes are mostly fixed (at least on

[2022-08-05 15:07] MaximilienLC commented on #119
Thank you for this thorough response :)

[2022-08-05 15:07] #119 closed

[2022-08-05 15:25] pommedeterresautee commented on #118
I will check in the coming days but TBH not sure you will like BF16 accuracy, it's quite low compared to FP16, which implies adding casting everywhere.
One thing which broke many stuff is Python 1.12.0 (it changed the way it stores some values in onnx), we are pushing patches here and there but did not retried those notebooks.

[2022-08-07 14:33] harishprabhala opened #120 "ValueError: Unrecognized configuration class <class 'transformers.models.t5.configuration_t5.T5Config'> for this kind of AutoModel: AutoModelForSequenceClassification."
Hi - I am trying to accelerate some T5 models and I get this error. How do I fix this?

Command to reproduce:

`convert_model -m "valhalla/t5-small-qa-qg-hl" --backend tensorrt onnx --seq-len 16 16 16`

I understand that this requires a AutoModelForSeq2SeqLM, or MT5ForConditionalGeneration class. How do I add these and how to add a new `--task seq2seq ` apart from the existing classes? I get this

[2022-08-07 15:20] pommedeterresautee commented on #120
Convert command doesn't manage t5 for now, you may follow the notebook to get the trt model

[2022-08-07 22:50] sam-h-bean opened #121 "How to Run With Polygraphy Graph Surgeon"
Hey I love your repo  and want to use it but because my model does not work with TRT out of the box I need to run the [Polygraphy Graph Surgeon to Sanitize](https://github.com/NVIDIA/TensorRT/tree/main/tools/Polygraphy/examples/cli/surgeon/02_folding_constants) before converting.

I don't see a way to run your entrypoint for this use case. Basically I want to export to ONNX, then run the sanitize

[2022-08-08 05:17] harishprabhala commented on #120
Any plans to add T5 support for the convert command in the near future?

[2022-08-08 08:16] pommedeterresautee commented on #120
Yes the Triton server with onnx 1.12 (required for that) has been released few days ago and we were waiting for it. However I have no ETA to share for now.

[2022-08-08 08:20] pommedeterresautee commented on #121
Thank you @sam-h-bean. For the sanitization we have just implemented `onnxoptimizer` which is called during the onnx export:
https://github.com/ELS-RD/transformer-deploy/blob/d99e08e7aa6cde2ed79a89b81c6b3e1f7d5672ed/src/transformer_deploy/backends/onnx_utils.py#L52

Would it work for you?

[2022-08-08 10:07] ayoub-louati opened #122 "Support converting T5 model"
Add the support of T5 model in our convert script.

fix #120

[2022-08-08 20:01] sam-h-bean commented on #121
@pommedeterresautee I'm not sure, I need to run the following command to make it work with TRT.

[code]

I'm not sure if this functionality is covered by your clean graph method

[2022-08-09 01:19] sam-h-bean commented on #121
@pommedeterresautee I tried doing it this way and still ran into the following

[code]

[2022-08-09 03:47] hyunwoongko opened #123 "Question about generative model notebook"
https://github.com/ELS-RD/transformer-deploy/blob/main/demo/generative-model/gpt2.ipynb

In this notebook, when you tested cache feature, I think you should use `generate` function rather than `forward` function because the advantages of cache can be obtained with saving past generated tensors. but if we use `forward` function there are no past tensors. Please let me know if I was wrong.

[2022-08-09 12:08] Matthieu-Tinycoaching opened #124 "GPU quantization for sentence-transformer: ONNX quantized model"
Hi,

Thanks for the nice repo!

Isn't it possible to obtain an ONNX model from GPU quantization of a sentence-transformer?

It seems that the end to end notebook is based on tensorRT quantized model.

Thanks!

[2022-08-09 12:11] pommedeterresautee commented on #124
On `GPU`, `TensorRT` is the only way to run quantized models.
Onnx Runtime requires you to use the `TensorRT` provider.

So you need to:
1/ extract onnx model from sentence transformers (wrappers are provided in this lib in case you have some difficulties)
2/ do same kind of work than described in the repo on this onnx file

[2022-08-09 12:13] pommedeterresautee commented on #123
I would check the T5 notebook for the caching feature with generative models.
GPT2 one needs some rework on that topic.

[2022-08-09 12:15] pommedeterresautee commented on #121
can you let me know which model it is?

[2022-08-09 13:54] Matthieu-Tinycoaching commented on #124
Do you recommend to apply QAT? Is this suppose to redo pre-training on the whole dataset?

[2022-08-09 14:42] sam-h-bean commented on #121
Codegen-16B-multi

[2022-08-09 15:24] pommedeterresautee commented on #124
It depends ;-)
What I can say is official Nvidia doc says only 10%, but in CV with large dataset. In fine tuning regime, it definitely depends of the size of your dataset.

And regarding the opportunity to do it, it's more about how important latency improvement matters to your use case and the difficulty to industrialize it Vs other strategies like distillation in miniLM or whatever smaller model

[2022-08-11 16:31] harishprabhala opened #126 "TypeError: deserialize_cuda_engine(): incompatible function arguments."
Hi - I am trying the int8 quantization with the `--quantization` tag in the following command
`
convert_model -m "bert-base-uncased" --backend tensorrt onnx --seq-len 16 128 128 --quantization`.

I get the below error. I have tried with different CUDA versions from 11.4 to 11.7. All giving the same error.

[code]

How to fix this?

[2022-08-11 18:20] #126 closed

[2022-08-12 23:13] brevity2021 opened #127 "Unable to pull docker image"
When I run `docker pull ghcr.io/els-rd/transformer-deploy:0.5.0`, the result is:
`Error response from daemon: manifest unknown`.

If I change the 0.5.0 to 0.4.0 it works. Does the 0.5.0 exist?

[2022-08-14 09:06] pommedeterresautee commented on #127
Hi, not yet. We are finishing the implementation of T5 in convert tool. You can build it yourself however through the Makefile.

[2022-08-18 18:11] denisov-vlad opened #128 "[Question] Batch inference for classification models"
Hi!

Trying to make batch request for infinity demo via `triton_client.py`.

I've changed batch size from 1 to 2 but got an error:
[code]

Tokenization only. The problem is at the model step.

All input dims are equal to `-1`:
[code]

Is it possible to make batch request?

[2022-08-19 14:58] denisov-vlad commented on #128
I've built docker image from d99e08e7aa6cde2ed79a89b81c6b3e1f7d5672ed.

[2022-08-19 18:55] denisov-vlad commented on #128
Yep, the same issue on image built from main branch (https://github.com/ELS-RD/transformer-deploy/commit/d99e08e7aa6cde2ed79a89b81c6b3e1f7d5672ed)

[2022-08-20 19:22] michaelroyzen commented on #118
Thanks @pommedeterresautee. I couldn't find any more information on how I could use amp in the export process.

I'm actually using PyTorch 1.11 for the export (and onnx 1.12.0 and onnxruntime-gpur 1.12.0). The odd thing is that t5-small works in the t5_bf16 notebook but not t5-3b. I'd appreciate your help here.

[2022-08-20 20:31] tanmayb123 opened #129 "[Question] Documentation for generative model API and parameters?"
I can't seem to find any documentation around how I would specify parameters such as max generation length, stop tokens, temperature, etc., for decoder-based models like GPT-2. Currently my API requests are only generating a single token, and I'd obviously like to generate more (up until a specified stop token preferably).

[2022-08-20 21:25] michaelroyzen opened #130 "t5 notebook broken with transformer-deploy 0.5.0"
Running the t5.ipynb notebook is broken when using the transformers-deploy 0.5.0 docker container. Specifically, with

`def get_random_input_encoder() -> Dict[str, torch.Tensor]:
    max_seq = 128
    seq_len = random.randint(a=1, b=max_seq)
    batch = max_seq // seq_len
    random_input_ids = torch.randint(
        low=0, high=tokenizer.vocab_size, size=(batch, seq_len), dtype=torch.int32, devic

[2022-08-20 21:27] michaelroyzen commented on #118
@pommedeterresautee Part of the issue seems to be that the notebooks are generally broken with the latest version of the library and its dependencies. I've created a separate issue about that, #130.

[2022-08-29 01:36] david-rx commented on #130
Anyone have a workaround here?

[2022-08-30 14:32] Matthieu-Tinycoaching commented on #110
Hi @pommedeterresautee could you give feedbacks to my previous message?

[2022-08-31 09:56] Matthieu-Tinycoaching opened #132 "Failed to load private model"
Hi,

I tried to convert a private model of sentence-transformer on the Hugging Face Hub:
[code]
However, the download of config.json file failed with the following message:
[code]

Any advice?

Thanks!

[2022-08-31 13:42] ayoub-louati commented on #132
Hi @Matthieu-Tinycoaching, it is either related to authentication token (which is not valid) or to the model name. can you please try with this command with the good auth-token:
[code]

[2022-08-31 14:24] Matthieu-Tinycoaching commented on #132
Hi @ayoub-louati thanks for your feedback.

I tested your proposition but it gave the same result. But the auth-token is good and so is the model name since it managed to download the first 4 items then failed on `config.json`...

[2022-08-31 14:51] ayoub-louati commented on #132
@pommedeterresautee I think we are missing the authentication token when loading the configuration, i'll do a quick fix.

[2022-08-31 15:45] ayoub-louati commented on #129
@tanmayb123 Currently, we are not planning to open those parameters, you can try either to add parameters with Triton or to try to pass the wanted parameters in a json way.

[2022-09-01 10:27] #132 closed

[2022-09-02 01:03] ice-americano commented on #130
Running an export of encoder(T5-3b) without mixed precision also seems to give similar a similar error as the following
[code]

I was using `torch==1.12.1+cu116`, `onnx==1.12.0`, `onnxruntime-gpu==1.12.1` running on the same nvidia driver(`515.65.01` and `CUDA 11.7`) as the notebook. Could we know the versions of libraries that notebook was successfully running?

[2022-09-04 06:35] michaelroyzen commented on #130
I temporarily solved the issue by using the 8bfe4f58a4cbdf84348a37838ba61c980bc6c101 commit of transformer-deploy and using PyTorch 1.11 as well as `onnx==1.12.0` and `onnxruntime==1.12.0`.

[2022-09-05 09:31] Matthieu-Tinycoaching commented on #132
Hi @pommedeterresautee when will be available the fix in the new docker image?

[2022-09-07 08:23] ayoub-louati commented on #132
@Matthieu-Tinycoaching We are releasing the 0.5.1 version which contains the fix for private models today.

[2022-09-07 13:00] harishprabhala commented on #50
Hi @xiaolaimeme can you please share the code for local model config file generation?

[2022-09-08 04:54] brevity2021 opened #135 "Using t5-large in t5 notebook, the translation result is invalid"
Hi,

First, thank you for the great work!
I was playing with the `t5` notebook in `demo/generative-model`. I build a docker image through Makefile, and run the notebook from the container.

I changed little things from the notebook, only a few printings. When I ran using `t5-small` it runs fine. But when I switched to use `t5-large`, the translation result in the Benchmark section becomes empty. I

[2022-09-08 16:44] pngmafia opened #136 "TypeError: unhashable type: 'slice'"
[code]

Any clue how I could fix this?

[2022-09-08 22:29] ayoub-louati commented on #135
@brevity2021 we are working on adding support for t5 conversion using the convert script. I think it should cover the precision for different T5 models (including t5-large).

[2022-09-09 13:17] pommedeterresautee commented on #136
Can you provide a way to reproduce the exception?

[2022-09-09 17:15] pngmafia commented on #136
I just re ran the cells on the gpt2 notebook and this issue occurs while running the tensorrt inference cell

[code]

[2022-09-13 08:51] wkkautas opened #138 "[Question] Converting models over 2GB"
Thank you for the excellent work!

When using convert_model command in ghcr.io/els-rd/transformer-deploy:0.5.1 to convert models over 2GB, the following error occurs.

[code]

Though editing following line to set `load_external_data=True` solves this error, is it right workaround?

https://github.com/ELS-RD/transformer-deploy/blob/cc781dbe925cccdc309e0a96501dc20b979b4627/src/transformer_deploy/bac

[2022-09-13 09:13] pngmafia opened #139 "encoder_hidden_states in the onnx inputs"
For the onnxruntime I plan to send encoder_hidden_states as part of inputs as well
[code]

but it seems like the inputs are not carried onto the forward pass in dictionary and that encoder_hidden_states is being set as past_key_values which should have been None(by default), hence the issue
[code]

Complete error stack:
[code]

Am I missing something? Please help @pommedeterresautee

[2022-09-13 09:57] pngmafia commented on #139
Tried using
[code]

The values are getting passed to the correct variables but theres an issue with dynamic sizes

Complete Error Stack:
[code]

[2022-09-14 04:36] pngmafia commented on #139
This script worked forexporting the model to onnx but its not working for optimizing the onnx graph
[code]

But this isn't working
[code]

[code]

@pommedeterresautee can you please help

[2022-09-16 03:49] NOT-HAL9000 opened #140 "Does the text generation instructions work for the ByT5 models? (byte-by-byte T5)?"
As the question states, does transformer-deploy text generation work on the byt5 models? (google/byt5-small, google/byt5-base etc..)? Basically ByT5 works on raw UTF-8 bytes and can be used without a tokenizer. Thanks

[2022-09-16 14:25] ayoub-louati commented on #138
@wkkautas Yes, that's what we should do for large models > 2 Gb (we should set the load_external_data to True). Thank you for this issue.

[2022-09-16 15:48] ayoub-louati commented on #140
@NOT-HAL9000 For the moment we don't support ByT5 models but it should not be very different from T5 models. I think it can work with some minor manipulations and modifications in the present code.

[2022-09-16 16:09] ayoub-louati commented on #139
@pngmafia Hello, can you please post the full script that you are trying to test ?

[2022-09-21 12:08] ayoub-louati commented on #138
@wkkautas can you please put the name of the model that you were testing and you got this error ?

[2022-09-21 12:17] #138 closed

[2022-09-21 13:11] wkkautas commented on #138
Thank you for the confirmation and fix!
I was using xlm-roberta-large.

[2022-09-22 08:07] #136 closed

[2022-09-27 07:24] #139 closed

[2022-09-28 21:30] Matthieu-Tinycoaching opened #143 "OpusMT conversion"
Hi,

Are there any plans to allow conversion of seq2seq translation model as opus-mt (MarianMT model type)?

[2022-09-30 04:43] brevity2021 opened #145 "[Question] Zero copy may lead to wrong text generation results"
Hi,

I was trying the "zero copy" method in the t5 notebook on a seq2seq transformer model. When I set the `clone_tensor` to True everything looks fine, just not as much speedup as I expected.

When I tried to set the `clone_tensor` to False, the text generation gives wrong results (some are repetitive ids). I debugged a bit and found that although the binding inputs are the same as when `clone_te

[2022-09-30 07:22] pommedeterresautee commented on #145
I tested a lot the clone tensor set to False for obvious reason and had no issue at the time. Did you test with ORT 1.11 ?

[2022-10-03 04:14] brevity2021 commented on #145
Thanks for the reply! I was testing with ORT 1.12. It might be due to the model implementation(since I was using Pegasus instead of T5, and had to modify the code a bit to make it work). It's quite some code so I need some time to put them together and showcase. I will update this thread.

[2022-10-04 04:10] brevity2021 commented on #145
@pommedeterresautee Here are the notebooks to replicate the error. To make things easier I use a t5 model for illustration.

I first run `make docker_build` from a clean `transformer-deply` directory, then run `docker run -p 8686:8686 -v $PWD/demo/generative-model:/docker_folder ghcr.io/els-rd/transformer-deploy:latest \
  bash -c "cd /docker_folder && jupyter notebook --ip 0.0.0.0 --port 8686 --n

[2022-10-10 16:38] timofeev1995 opened #146 "GPT-J 6B model"
Hello! Thank you for your framework!
I have a question about very large (6B+ models) to convert and serve using your framework.
I tried to convert with tips about large models (--fast option etc) but i have CUDA OOM even using a100 40GB NVIDIA card.
Is it expected behaviour? Is there any tips to perform conversion of models sized like that?
Thank you in advance.

[2022-10-12 10:18] tamaghna-dutta opened #147 "How to create custom image with transformers pre-installed?"
I see that when running the Triton Inference Server, transformers is being installed during runtime. How can I pre-install transformers and create my custom image with Triton and transformers?

When I try to just create a Docker daemon with the Triton Server image like so, it exits out of the container.

`docker run --gpus all -p8000:8000 -p8001:8001 -p8002:8002 --shm-size 256m -d --name triton-se

[2022-10-12 11:03] #147 closed

[2022-10-19 14:36] Matthieu-Tinycoaching opened #148 "RepositoryNotFoundError when optimizing private HF model"
When trying to convert private sentence-transformer model on HF Hub with:

[code]
The `model-original.onnx` file has been created but it seems to fail when optimizing onnx model with mixed-precision (fp16):
[code]
It seems to be an authentification problem. Any advice?

[2022-10-21 17:19] elvinagam opened #149 "Unable to install transformer-deploy module"
Any support would be appreciated:

When running demo/torchdynamo/benchmark.ipynb, specifically this cell (pasted code), I run into the error below.

[code]
[code]

[2022-10-21 17:20] elvinagam commented on #149
@pommedeterresautee @ayoub-louati

[2022-10-21 19:48] elvinagam commented on #149
Am I missing any steps? Since I am getting an error regarding `No module named 'transformer_deploy'`

[2022-10-27 18:46] hlkong323 opened #150 "Unable to optimize microsoft/deberta-v3-small model"
Here's command and error message. Please advise and help fix it. Thanks!

sudo docker run -it --rm --gpus all   -v $PWD:/project ghcr.io/els-rd/transformer-deploy:latest   bash -c "cd /project && \
    convert_model -m \"microsoft/deberta-v3-small\" \
    --backend tensorrt onnx \
    --seq-len 16 128 128 \
    --task classification"

![image](https://user-images.githubusercontent.com/2855878/1983

[2022-11-02 06:50] CodyLDA opened #153 "Embedding with T5-Encoder"
Hello,

thanks for this amazing framework.

I wanted to ask since I am interested in generating embeddings, is the usage of the `T5EncoderModel` integrated? As far as I can tell, only the special case with Sentence-Transformers is supported currently or am I missing something?

Thanks!

[2022-11-03 11:43] ayoub-louati commented on #153
@CodyLDA
Hello,
We are currently working on integrating T5 model conversion so that it can be used for text generation. Once it is done, I think that generating embeddings should be much more easier following the T5 model example.

[2022-11-03 12:00] ayoub-louati commented on #149
Hello @elvinagam, are you still facing this problem ? did you tried to install transformer-deploy ?

[2022-11-03 12:02] ayoub-louati commented on #143
hello @Matthieu-Tinycoaching currently we still working on supporting t5 model conversion to be able to do seq2seq text generation.

[2022-11-03 13:03] #148 closed

[2022-11-07 19:30] elvinagam commented on #149
I solved it somehow without explicitly knowing how to lol. Closing it. Thanks.

[2022-11-07 19:30] #149 closed

[2022-11-10 16:00] pommedeterresautee commented on #146
sorry for the latency, do you use ONNX Runtime or TensorRT?

[2022-11-29 11:11] imsiddhant07 opened #155 "Tensorrt engine"
I tried running TRT based-off three methods:
1. python src/transformer-deploy/convert.py
2. exisiting docker image
3. build docker image from repo

In all three instances, I got back the same response while running TRT backend.

The command I have been trying to run (docker for example):
[code]
When i pass only 'onnx' as backend param everything runs pretty smoothly. But face issues with 'tensorrt